<% layout('layouts/boilerplate')%>
<h1 class="display-4 text-center">Unos kategorija</h1>
<div class="container d-flex flex-column justify-content-center">
    <div class="row">
        <div class="col-lg-6">
            <form
                action="/create/kategorije"
                method="POST"
                novalidate
                class="validated-form"
            >
                <div class="row">
                    <% for (let i = 1; i <= currentUser.brojKategorija; i++) {%>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label
                                    for="kategorija<%= i %>"
                                    class="form-label"
                                    >Naziv kategorije <%= i %></label
                                >
                                <input
                                    type="text"
                                    class="form-control"
                                    id="kategorija<%= i %>"
                                    name="createForm[kategorija<%= i %>]"
                                />
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label
                                    for="kategorija<%= i %>Tip"
                                    class="form-label"
                                    >Vrsta kategorije</label
                                >
                                <select
                                    class="form-select drop-down"
                                    id="kategorija<%= i %>Tip"
                                    name="createForm[kategorija<%= i %>Tip]"
                                >
                                    <option selected value="number">
                                        Broj
                                    </option>
                                    <option value="text">Tekst</option>
                                    <option value="date">Datum</option>
                                    <option value="more">Više njih</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <label
                                for="kategorija<%= i %>Boja"
                                class="form-label"
                                >Boja</label
                            >
                            <input
                                type="color"
                                class="form-control form-control-color"
                                id="kategorija<%= i %>Boja"
                                value="#000000"
                                name="createForm[kategorija<%= i %>Boja]"
                            />
                        </div>
                    </div>
                    <div class="mb-3 d-none" id="kategorija<%= i %>DD">
                        <label
                            for="kategorija<%= i %>DropDown"
                            class="form-label"
                            >Kategorije 1 dropdown</label
                        >
                        <textarea
                            class="form-control"
                            id="kategorija<%= i %>DropDown"
                            rows="3"
                            name="createForm[kategorija<%= i %>DropDown]"
                            placeholder="Unesite stavke koje želite imati u dropdownu sa zarezom(,) kao razmaknicom"
                        ></textarea>
                    </div>
                    <% } %>
                </div>
                <button class="btn btn-dark my-3">Dalje</button>
            </form>
        </div>
    </div>
</div>
<script>
    [...document.querySelectorAll(".drop-down")].forEach(function(item) {
        item.addEventListener("change", function () {
            const dropDownId = item.id.slice(0, -3);
            const dropDown = document.getElementById(dropDownId + "DD");
            if (item.value === "more") {
                dropDown.classList.toggle("d-none")
            }
            if (item.value !== "more" && !dropDown.classList.contains("d-none")) {
                dropDown.classList.toggle("d-none");
            }
        })
    })

</script>
