<% layout('layouts/boilerplate')%>
<div class="container">
    <h1 class="display-4 text-center">Unos kategorija</h1>
    <div class="progress" style="height: 3px">
        <div
            class="progress-bar bg-dark"
            role="progressbar"
            style="width: 33%"
            aria-valuenow="66"
            aria-valuemin="0"
            aria-valuemax="100"
        ></div>
    </div>
</div>
<div class="container vh-80 d-flex flex-column justify-content-center">
    <div class="row">
        <div class="col-lg-6">
            <form
                action="/create/kategorije"
                method="POST"
                novalidate
                class="validated-form"
            >
                <div class="row">
                    <% for (let i = 1; i <= currentUser.brojKategorija; i++) {%>
                    <div class="kategorija d-none" id="<%= i %>">
                        <div class="row">
                            <h4>Kategorija <%= i %></h4>
                            <div class="col">
                                <div class="mb-3">
                                    <label
                                        for="kategorija<%= i %>"
                                        class="form-label"
                                        >Naziv kategorije</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control naziv-kategorija"
                                        id="kategorija<%= i %>"
                                        name="createForm[kategorija]"
                                    />
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label
                                        for="kategorija<%= i %>Tip"
                                        class="form-label"
                                        >Vrsta kategorije</label
                                    >
                                    <select
                                        class="form-select drop-down"
                                        id="kategorija<%= i %>Tip"
                                        name="createForm[kategorijaTip]"
                                    >
                                        <option selected value="number">
                                            Broj
                                        </option>
                                        <option value="text">Tekst</option>
                                        <option value="date">Datum</option>
                                        <option value="more">Vi코e njih</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <label
                                    for="kategorija<%= i %>Boja"
                                    class="form-label"
                                    >Boja</label
                                >
                                <input
                                    type="color"
                                    class="form-control form-control-color boja-kategorija"
                                    id="kategorija<%= i %>Boja"
                                    value="#000000"
                                    name="createForm[kategorijaBoja]"
                                />
                            </div>
                        </div>
                        <div class="mb-3 d-none" id="kategorija<%= i %>DD">
                            <label
                                for="kategorija<%= i %>DropDown"
                                class="form-label"
                                >Kategorije 1 dropdown</label
                            >
                            <textarea
                                class="form-control"
                                id="kategorija<%= i %>DropDown"
                                rows="3"
                                name="createForm[kategorijaDropDown]"
                                placeholder="Unesite stavke koje 쬰lite imati u dropdownu sa zarezom(,) kao razmaknicom"
                            ></textarea>
                        </div>
                    </div>
                    <% } %>
                </div>
                <div
                    class="<%=currentUser.brojKategorija > 5 ? 'my-3' : 'd-none'%>"
                >
                    <span type="button" class="navigacija" id="previous">
                        游 Prije
                    </span>
                    <span type="button" class="navigacija float-end" id="next">
                        Poslje 游목
                    </span>
                </div>
                <button type="submit" class="btn btn-dark mb-3">Dalje</button>
            </form>
        </div>
        <div
            class="col-lg-4 offset-lg-1 d-flex flex-column justify-content-center"
        >
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Naslov</h5>
                    <p class="card-text">
                        Napomena:
                        <b>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Dolores odit adipisci similique esse atque
                            corporis itaque repellat dolorem nisi sit deserunt,
                            consequuntur ex provident natus?
                        </b>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <% if (parseInt(currentUser.brojKategorija) % 2 === 0) {%>
                    <% for (let i = 1; i <= currentUser.brojKategorija / 2; i++)
                    {%>
                    <li class="list-group-item">
                        <span id="kategorija<%=2*i-1%>li"
                            >Kategorija <%= 2*i - 1 %></span
                        >
                        <span id="kategorija<%=2*i%>li" class="float-end"
                            >Kategorija <%= 2*i %></span
                        >
                    </li>
                    <% } %> <% } else {%> <% for (let i = 1; i <=
                    currentUser.brojKategorija / 2; i++) {%>
                    <li class="list-group-item">
                        <span id="kategorija<%=2*i-1%>li"
                            >Kategorija <%= 2*i - 1 %></span
                        >
                        <span id="kategorija<%=2*i%>li" class="float-end"
                            >Kategorija <%= 2*i %></span
                        >
                    </li>
                    <% } %>
                    <li
                        class="list-group-item"
                        id="kategorija<%=currentUser.brojKategorija%>li"
                    >
                        Kategorija <%=currentUser.brojKategorija %>
                    </li>
                    <% } %>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link btn btn-primary">Vi코e</a>
                    <a href="#" class="card-link float-end btn btn-danger"
                        >Obri코i</a
                    >
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/kategorije.js"></script>
