<% layout('layouts/boilerplate')%>
<h1 class="display-4 text-center">Unos kategorija</h1>
<div class="container d-flex flex-column justify-content-center">
    <div class="row">
        <div class="col-lg-6">
            <form
                action="/create/kategorije"
                method="POST"
                novalidate
                class="validated-form"
            >
                <div class="row">
                    <% for (let i = 1; i <= currentUser.brojKategorija; i++) {%>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label
                                    for="kategorija<%= i %>"
                                    class="form-label"
                                    >Naziv kategorije <%= i %></label
                                >
                                <input
                                    type="text"
                                    class="form-control naziv-kategorija"
                                    id="kategorija<%= i %>"
                                    name="createForm[kategorija<%= i %>]"
                                />
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label
                                    for="kategorija<%= i %>Tip"
                                    class="form-label"
                                    >Vrsta kategorije</label
                                >
                                <select
                                    class="form-select drop-down"
                                    id="kategorija<%= i %>Tip"
                                    name="createForm[kategorija<%= i %>Tip]"
                                >
                                    <option selected value="number">
                                        Broj
                                    </option>
                                    <option value="text">Tekst</option>
                                    <option value="date">Datum</option>
                                    <option value="more">Više njih</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <label
                                for="kategorija<%= i %>Boja"
                                class="form-label"
                                >Boja</label
                            >
                            <input
                                type="color"
                                class="form-control form-control-color boja-kategorija"
                                id="kategorija<%= i %>Boja"
                                value="#000000"
                                name="createForm[kategorija<%= i %>Boja]"
                            />
                        </div>
                    </div>
                    <div class="mb-3 d-none" id="kategorija<%= i %>DD">
                        <label
                            for="kategorija<%= i %>DropDown"
                            class="form-label"
                            >Kategorije 1 dropdown</label
                        >
                        <textarea
                            class="form-control"
                            id="kategorija<%= i %>DropDown"
                            rows="3"
                            name="createForm[kategorija<%= i %>DropDown]"
                            placeholder="Unesite stavke koje želite imati u dropdownu sa zarezom(,) kao razmaknicom"
                        ></textarea>
                    </div>
                    <% } %>
                </div>
                <button class="btn btn-dark my-3">Dalje</button>
            </form>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Naslov</h5>
                    <p class="card-text">
                        Napomena:
                        <b>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Dolores odit adipisci similique esse atque
                            corporis itaque repellat dolorem nisi sit deserunt,
                            consequuntur ex provident natus?
                        </b>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <% if (parseInt(currentUser.brojKategorija) % 2 === 0) {%>
                    <% for (let i = 1; i <= currentUser.brojKategorija / 2; i++)
                    {%>
                    <li class="list-group-item">
                        <span id="kategorija<%=2*i-1%>li"
                            >Kategorija <%= 2*i - 1 %></span
                        >
                        <span id="kategorija<%=2*i%>li" class="float-end"
                            >Kategorija <%= 2*i %></span
                        >
                    </li>
                    <% } %> <% } else {%> <% for (let i = 1; i <=
                    currentUser.brojKategorija / 2; i++) {%>
                    <li class="list-group-item">
                        <span id="kategorija<%=2*i-1%>li"
                            >Kategorija <%= 2*i - 1 %></span
                        >
                        <span id="kategorija<%=2*i%>li" class="float-end"
                            >Kategorija <%= 2*i %></span
                        >
                    </li>
                    <% } %>
                    <li
                        class="list-group-item"
                        id="kategorija<%=currentUser.brojKategorija%>li"
                    >
                        Kategorija <%=currentUser.brojKategorija %>
                    </li>
                    <% } %>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link btn btn-primary">Više</a>
                    <a href="#" class="card-link float-end btn btn-danger"
                        >Obriši</a
                    >
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    [...document.querySelectorAll(".drop-down")].forEach(function (item) {
        item.addEventListener("change", function () {
            const dropDownId = item.id.slice(0, -3);
            const dropDown = document.getElementById(dropDownId + "DD");
            if (item.value === "more") {
                dropDown.classList.toggle("d-none");
            }
            if (
                item.value !== "more" &&
                !dropDown.classList.contains("d-none")
            ) {
                dropDown.classList.toggle("d-none");
            }
        });
    });
    [...document.querySelectorAll(".naziv-kategorija")].forEach(function (
        item
    ) {
        item.addEventListener("input", function () {
            const listItem = item.id + "li";
            const li = document.getElementById(listItem);
            li.innerHTML = item.value;
        });
    });
    [...document.querySelectorAll(".boja-kategorija")].forEach(function (
        item
    ) {
        item.addEventListener("input", function () {
            const bojaKategorija = item.id.slice(0, -4);
            const li = document.getElementById(bojaKategorija + "li");
            li.style = `color: ${item.value}`;
        });
    });
</script>
