<% layout('layouts/boilerplateShow')%>
<div class="container vh-80 d-flex flex-column justify-content-center">
    <h1 class="display-1 text-center">Unesi narudžbu</h1>
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <form
                action="/form"
                method="POST"
                novalidate
                class="validated-form"
            >
                <% for (let i = 0; i < currentUser.brojKategorija; i++) {%> <%
                if (i % 2 == 0) {%>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <% if (formData[0].kategorijaTip[i] == "more") {%>
                            <label for="kategorija<%= i %>" class="form-label"
                                ><%= formData[0].kategorija[i] %></label
                            >
                            <select
                                class="form-select"
                                id="kategorija<%= i %>"
                                name="form[kategorija]"
                            >
                                <% for (let j = 0; j <
                                formData[0].kategorijaDD[i].length; j++) {%>
                                <option
                                    value="<%= formData[0].kategorijaDD[i][j]%>"
                                >
                                    <%= formData[0].kategorijaDD[i][j]%>
                                </option>
                                <% } %>
                            </select>
                            <% } else {%>
                            <label for="kategorija<%= i %>" class="form-label"
                                ><%= formData[0].kategorija[i] %></label
                            >
                            <input
                                type="<%= formData[0].kategorijaTip[i] %>"
                                class="form-control naziv-kategorija"
                                id="kategorija<%= i %>"
                                name="form[kategorija]"
                            />
                            <% } %>
                        </div>
                    </div>
                    <% } else { %>
                    <div class="col">
                        <div class="mb-3">
                            <% if (formData[0].kategorijaTip[i] == "more") {%>
                            <label for="kategorija<%= i %>" class="form-label"
                                ><%= formData[0].kategorija[i] %></label
                            >
                            <select
                                class="form-select"
                                id="kategorija<%= i %>"
                                name="form[kategorija]"
                            >
                                <% for (let j = 0; j <
                                formData[0].kategorijaDD[i].length; j++) {%>
                                <option
                                    value="<%= formData[0].kategorijaDD[i][j]%>"
                                >
                                    <%= formData[0].kategorijaDD[i][j]%>
                                </option>
                                <% } %>
                            </select>
                            <% } else {%>
                            <label for="kategorija<%= i %>" class="form-label"
                                ><%= formData[0].kategorija[i] %></label
                            >
                            <input
                                type="<%= formData[0].kategorijaTip[i] %>"
                                class="form-control naziv-kategorija"
                                id="kategorija<%= i %>"
                                name="form[kategorija]"
                            />
                            <% } %>
                        </div>
                    </div>
                </div>
                <% } %> <% } %>
                <button class="btn btn-dark my-3">Spremi</button>
            </form>
        </div>
    </div>
</div>
