<% layout('layouts/boilerplateShow')%>
<div class="container vh-80 d-flex flex-column justify-content-center">
    <div class="row">
        <h1 class="display-1 text-center">Unesi narudžbu</h1>
        <div class="col-lg-6 offset-lg-3">
            <form
                action="/form"
                method="POST"
                novalidate
                class="validated-form"
                enctype="multipart/form-data"
            >
                <% Object.entries(fieldType).forEach((key, i) => {%> <% if (i %
                2 == 0) {%>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <% if (key[1].type == "more") {%>
                            <label for="category<%= i %>" class="form-label"
                                ><%= key[1].name %></label
                            >
                            <select
                                class="form-select"
                                id="category<%= i %>"
                                name="form[category]"
                            >
                                <% for (let j = 0; j <
                                key[1].additional[0].length; j++) {%>
                                <option value="<%= key[1].additional[0][j] %>">
                                    <%= key[1].additional[0][j] %>
                                </option>
                                <% } %>
                            </select>
                            <% } else if (key[1].type == "textarea") {%>
                            <label for="category<%= i %>" class="form-label"
                                ><%= key[1].name %></label
                            >
                            <textarea
                                class="form-control"
                                id="category<%= i %>"
                                name="form[category]"
                                rows="1"
                            ></textarea>
                            <% } else {%>
                            <label for="category<%= i %>" class="form-label"
                                ><%= key[1].name %></label
                            >
                            <input
                                type="<%= key[1].type %>"
                                class="form-control category-name"
                                id="category<%= i %>"
                                name="form[category]"
                            />
                            <% } %>
                        </div>
                    </div>
                    <% } else { %>
                    <div class="col">
                        <div class="mb-3">
                            <% if (key[1].type == "more") {%>
                            <label for="category<%= i %>" class="form-label"
                                ><%= key[1].name %></label
                            >
                            <select
                                class="form-select"
                                id="category<%= i %>"
                                name="form[category]"
                            >
                                <% for (let j = 0; j < key[1].additional.length;
                                j++) {%>
                                <option value="<%= key[1].additional[0][j]%>">
                                    <%= key[1].additional[0][j]%>
                                </option>
                                <% } %>
                            </select>
                            <% } else if (key[1].type == "textarea") {%>
                            <label for="category<%= i %>" class="form-label"
                                ><%= key[1].name %></label
                            >
                            <textarea
                                class="form-control"
                                id="category<%= i %>"
                                name="form[category]"
                                rows="1"
                            ></textarea>
                            <% } else {%>
                            <label for="category<%= i %>" class="form-label"
                                ><%= key[1].name %></label
                            >
                            <input
                                type="<%= key[1].type %>"
                                class="form-control category-name"
                                id="category<%= i %>"
                                name="form[category]"
                            />
                            <% } %>
                        </div>
                    </div>
                </div>
                <% } %> <% }) %>
                <div class="mb-3">
                    <label for="file" class="form-label">Unesi file:</label>
                    <input
                        class="form-control"
                        type="file"
                        id="file"
                        name="image"
                        accept=".gif,.jpg,.jpeg,.png,.pdf"
                        multiple
                    />
                </div>
                <button class="btn btn-dark my-3">Spremi</button>
            </form>
        </div>
    </div>
</div>
