<% layout('layouts/boilerplateShow')%>
<% layout('layouts/boilerplateShow')%>
<div class="container vh-80 d-flex flex-column justify-content-center">
    <h1 class="display-4 text-center">Više info</h1>
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card mb-3">
                <div class="card-body">
                    <h5
                        class="card-title"
                        style="color: <%= formData[0].kategorijaBoja[0] %>"
                    >
                        <%= formData[0].kategorija[0] %>: <%= form.kategorija[0]
                        %>
                    </h5>
                    <p
                        class="card-text"
                        style="color: <%= formData[0].kategorijaBoja[1] %>"
                    >
                        <%= formData[0].kategorija[1] %>: <%= form.kategorija[1]
                        %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <% for (let j = 2; j < currentUser.brojKategorija; j++) {%>
                    <li
                        class="list-group-item"
                        style="color: <%= formData[0].kategorijaBoja[j] %>"
                    >
                        <%= formData[0].kategorija[j] %>: <%= form.kategorija[j]
                        %>
                    </li>
                    <% } %>
                </ul>
                <div class="card-body">
                    <a href="/show/<%= form._id %>/edit" class="card-link btn btn-dark">Promjeni</a>
                    <a href="/show/<%= form._id %>" class="card-link btn btn-secondary">Više</a>
                    <a href="#" class="card-link btn btn-danger float-end">Obriši</a>
                </div>
            </div>
        </div>
    </div>
</div>