<% layout('layouts/boilerplateShow')%>
<div class="container vh-80">
    <h1 class="display-4 text-center">Narudžbe</h1>
    <div class="row">
        <% for (let form of forms) {%>
        <div class="col-lg-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5
                        class="card-title"
                        style="color: <%= formData[0].kategorijaBoja[0] %>"
                    >
                        <%= formData[0].kategorija[0] %>: <%= form.kategorija[0]
                        %>
                    </h5>
                    <p
                        class="card-text"
                        style="color: <%= formData[0].kategorijaBoja[1] %>"
                    >
                        <%= formData[0].kategorija[1] %>: <%= form.kategorija[1]
                        %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <% for (let j = 2; j < currentUser.brojKategorija; j++) {%>
                    <li
                        class="list-group-item"
                        style="color: <%= formData[0].kategorijaBoja[j] %>"
                    >
                        <%= formData[0].kategorija[j] %>: <%= form.kategorija[j]
                        %>
                    </li>
                    <% } %>
                </ul>
                <div class="card-body">
                    <a
                        href="/show/<%= form._id %>/edit"
                        class="card-link btn btn-dark"
                        >Promjeni</a
                    >
                    <a
                        href="/show/<%= form._id %>"
                        class="card-link btn btn-secondary"
                        >Više</a
                    >
                    <span>
                        <button
                            type="button"
                            class="btn btn-danger float-end"
                            data-bs-toggle="modal"
                            data-bs-target="#id<%= form._id%>"
                        >
                            Obriši
                        </button></span
                    >
                    <!-- Modal delete -->
                    <div
                        class="modal fade"
                        id="id<%= form._id %>"
                        tabindex="-1"
                        aria-labelledby="exampleModalLabel"
                        aria-hidden="true"
                    >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5
                                        class="modal-title"
                                        id="exampleModalLabel"
                                    >
                                        Obrisati narudžbu?
                                    </h5>
                                    <button
                                        type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"
                                    ></button>
                                </div>
                                <div class="modal-body">
                                    Narudžba <%= form.kategorija[0] %> će biti
                                    obrisana.
                                </div>
                                <div class="modal-footer">
                                    <button
                                        type="button"
                                        class="btn btn-secondary"
                                        data-bs-dismiss="modal"
                                    >
                                        Prekini
                                    </button>
                                    <form
                                        action="/show/<%= form._id %>?_method=DELETE"
                                        method="POST"
                                    >
                                        <button class="btn btn-danger">
                                            Obriši
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</div>
